[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyterlab = "*"
jupyter = "*"

[packages]
pandas = "*"
sklearn = "*"
google-cloud-bigquery = "*"
matplotlib = "*"
kaggle = "*"
seaborn = "*"
tensorflow = "==2.0.1"
framequery = "*"
fsspec = "*"
featuretools = "*"
requests = "*"
flask = "*"
gunicorn = "*"
mlflow = "*"
pillow = "*"
dash = "*"

[requires]
python_version = "3.7"

